<li class="lista" *ngFor="let alumno of alumnosArray ; let position=index">
    <div class="alumnos">
        <p class="info">{{position+1}}</p>
        <p class="info">{{alumno.apellido}}</p>
        <p class="info">{{alumno.nombre}}</p>
        <p class="info">{{alumno.edad}}</p>
        <p class="info">{{alumno.curso}}</p>
        <p [ngClass]=" alumno.nota > 6 ? 'info aprobado' : 'info desaprobado' ">{{alumno.nota}}</p>
        <p [ngClass]=" alumno.valoraciones > 3 ? 'info' : 'info' " *ngIf="alumno.valoraciones > 2">
            {{alumno.valoraciones}}</p>
        <p [ngClass]=" alumno.valoraciones > 3 ? 'info' : 'info' " *ngIf="alumno.valoraciones < 3">Insuficientes</p>
        <p [ngClass]=" alumno.beca ? 'info becado' : 'info noBecado' "></p>
    </div>